th.control_table {
    user-select: none;

    div.control_table_container {
        display: flex;
        width: 100%;
        //justify-content: center;

        p.control_table_col_name {
            margin: 16px 5px 16px 0;
            font-weight: 500;
        }
    }

    &.control_table_selected {
        div.control_table_container {
            p.control_table_col_name {
                font-weight: 800;
            }
        }
    }

    &.control_table_inverted {
        div.control_table_container {
            img.control_table_col_sort_direction {
                transform: rotate(180deg);
            }
        }
    }

    &:first-child {
        div.control_table_container {
            p.control_table_col_name {
                padding-left: 20px;
            }
        }
    }
}